<h1>Showing details</h1>
<p><strong>Title: </strong><p><%= @article.title %> </p></p>
<p><strong>Description: </strong><p><%= @article.description %></p></p>

<%= link_to "Edit", edit_article_path(@article) %> |
<%= link_to "Delete", article_path(@article), method: :delete, data: {confirm: "Are you sure?"} %> |
<%= link_to "Back to the listing page", articles_path %>